<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="true" name="Suite">
  <test name="Test">
    <classes>
     <!--  <class name="NewTest"/>  -->
      <class name="QA.AK.DriverSetUP.BrowserLaunch"/>
      
      <!--  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->